TYPEWORLD_SECRET_KEY=change-me-in-production
TYPEWORLD_DEBUG=1
TYPEWORLD_ALLOWED_HOSTS=127.0.0.1,localhost
TYPEWORLD_SITE_DOMAIN=127.0.0.1:8000
TYPEWORLD_SITE_NAME=TypeWorld local
TYPEWORLD_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
TYPEWORLD_EMAIL_HOST=smtp.gmail.com
TYPEWORLD_EMAIL_PORT=587
TYPEWORLD_EMAIL_USE_TLS=1
TYPEWORLD_EMAIL_HOST_USER=your_email@gmail.com
TYPEWORLD_EMAIL_HOST_PASSWORD=your_16_symbol_app_password
TYPEWORLD_DEFAULT_FROM_EMAIL=your_email@gmail.com
GOOGLE_CLIENT_ID=put_google_client_id_here
GOOGLE_CLIENT_SECRET=put_google_client_secret_here
VK_CLIENT_ID=put_vk_app_id_here
VK_CLIENT_SECRET=put_vk_secure_key_here
